<html>


<head>


<title>Sprintz</title>


</head>


<h1> Sprintz | Managing Your Project Management </h1>


<div>
			
<aside>
	<h2>User ID</h2>
	<!user id from database>
</aside>
</div>

<section>
<h3> All Current Projects </h3>
<ol>
 <% @groups.each do |group| %>
        <li><h4> <%= group.name %> </h4></li>
        <p> About Project: <%= group.project_description %>
        <br> <td><%= link_to 'Go to Group', group_path(group) %></td>
        <br><td><%= link_to 'Delete Group', group_path(group),
              method: :delete,
              data: { confirm: 'Are you sure? Deleting group will also delete for all otber members.' } %></td>
        <% end %>
</ol>
</section>

</body>
</html>

