

<head>


<title>Sprintz</title>


</head>


<h1> Welcome to Sprintz.</h1>


<div>
			
<aside>

<h4>If you haven't created a User Profile, start here!</h4>
<a href="students/new"><input type="button" name="signup" value="Signup!"></a>

<h4>Already a sprintz student? Sign in here: </h4> <a href="students"><input type="button" name="newProject" value="Sign in"></a>
	
</aside>
</div>


<section>
<h4> Welcome to your personal and group managment space. With Sprintz you can create projects to coincide with your real life workload, and share them with your fellow colleagues! Within these projects, which we like to call groups you can create sprints: little descriptions of what your group needs to accomplish next. Any member can mark a sprint as completed and keep your team on track! </h4>

<br><a href="https://www.youtube.com/watch?v=v3i8vsIUA7Q"><input type="button" name="yee" value="Meryee Christmas!!"></a>

</section>
</body>

</html>
